/* 返回顶部样式开始 */

img {
    display: block;
}

.actGotop {
    position: fixed;
    _position: absolute;
    bottom: 3rem;
    right: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: none;
    z-index: 999
}

.actGotop a, .actGotop a:link {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(../../image/ic_back_top.png) no-repeat;
    background-size: 3.5rem 3.5rem;
    outline: none;
}

.actGotop a:hover {
    background: url(../../image/ic_back_top.png) no-repeat;
    outline: none;
    background-size: 3.5rem 3.5rem;
}


/* 返回顶部样式开始 */

html, body {
    /*background: linear-gradient(to right,rgb(0, 255, 28),rgb(232,195,230))*/
}

.shangeType {
    width: 100%;
    height: auto;
}

.shangeItem {
    width: 100%;
    overflow: hidden;
    /*height: 10.6rem;*/
    /*background: #f4f4f4;*/
}

.shangeItem img, .shangeItem3 img, .shangeItem4 img, .shangeItem5 img, .shangeItem6 img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: block;
}

.shangeItem div {
    float: left;
}

.shangeItem .shangeLeft {
    width: 39.8%;
    height: 100%;
    /*background:red;*/
    /*border-right: solid 1px #ddd;*/
}

.shangeItem .shangeRight {
    width: 59.9%;
    height: 100%;
    /*background:green;*/
}

.shangeItem .shangeRight .sg_right_top {
    width: 100%;
    height: 50%;
    /*background:#E32AF8;*/
    border-bottom: solid 1px #ddd;
}

.shangeItem .shangeRight .sg_right_bottom {
    width: 100%;
    height: 50%;
    /*background:#F9B303;*/
}

.shangeItem .shangeRight .sg_right_bottom .sg_right_bottom_left {
    width: 50%;
    height: 100%;
    /*background: #F4B5D0;*/
}

.shangeItem .shangeRight .sg_right_bottom .sg_right_bottom_right {
    width: 50%;
    height: 100%;
    float: right;
    /*background: #9189F0;*/
}


/*拼图3*/

.shangeItem3 {
    width: 100%;
    /*height: 9.0rem;*/
    background: #f4f4f4;
    overflow: hidden;
}

.shangeItem3 ul, .shangeItem4 ul, .shangeItem5 ul, .shangeItem6 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shangeItem3 ul li {
    float: left;
    width: 50%;
    /*height: 4.4rem;*/
}

.shangeItem3 ul li img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.shangeItem3 ul li:nth-child(1) {
    /*border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;*/
}

.shangeItem3 ul li:nth-child(3) {
    /*border-right: solid 1px #ddd;*/
}

.shangeItem3 ul li:nth-child(2) {
    /*border-bottom: solid 1px #ddd;*/
}


/*拼图4*/

.shangeItem4 {
    width: 100%;
    /*height: 50%;*/
    /*background: #f4f4f4;*/
    overflow: hidden;
}

.shangeItem4 ul li {
    float: left;
    /*height: 50%;*/
    width: 50%;
}

.shangeItem4 ul li:nth-child(1) {
    /*border-right: solid 1px #ddd;*/
}


/*拼图5*/

.shangeItem5 {
    width: 100%;
    overflow: hidden;
}

.shangeItem5 ul li {
    float: left;
    width: 33.333%;
}

.shangeItem5 ul li:nth-child(1) {}


/*拼图6*/

.shangeItem6 {
    width: 100%;
    overflow: hidden;
}

.shangeItem6 ul li {
    float: left;
    width: 25%;
}

.shangeItem6 ul li:nth-child(1) {}


/*分类css*/

.good_fenlei {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.good_fenlei ul.fl_48 {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.good_fenlei ul.fl_48 li {
    width: 25%;
}

.good_fenlei ul.fl_510 li {
    width: 20%;
}

.good_fenlei ul li {
    float: left;
    height: 80px;
    position: relative;
    font-size: 14px;
}

.good_fenlei ul li img {
    width: 36px;
    height: 36px;
    background-size: 100% 100%;
    position: absolute;
    top: 10%;
    left: 25%;
    /*margin-left: -25px;*/
}

.good_fenlei ul li p {
    width: 100%;
    /*height: 30px;
    line-height: 30px;*/
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 12px;
}

.Placeholder {
    width: 100%;
    height: 100%;
    background: url('../../image/Placeholder.jpg') center center no-repeat;
    overflow: hidden;
    display: none;
}

.bobao {
    width: 100%;
    height: 50px;
    background: #fff;
    /*margin: 0 auto;
    margin-top: -10px;*/
}

.bobao div.bobao_img {
    width: 50px;
    height: 100%;
    float: left;
}

.bobao div.bobao_img img {
    background-size: 100% 100%;
    width: 80%;
    height: 50%;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 12px;
}


/*.bobao div.bobao_list{
    width: calc(100% - 85px);
    float: right;
    line-height: 50px;
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-right: 12px;
  }*/

.bobao_none {
    display: none;
}

.bobao div.swiper-container {
    width: calc(100% - 85px);
    float: right;
    line-height: 50px;
    font-size: 14px;
    margin-right: 12px;
    height: 50px;
}

.bobao div.swiper-container .swiper-slide {
    text-align: left;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

.active_img {
    width: 100%;
    /*margin: 0 auto;*/
    height: auto;
}

.active_img img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


/*控制模块是否显示*/


/*#eye,#scrollBobao,#activeimg,#shangeItem1,#shangeItem2,#shangeItem3,#shangeItem4,#goods{
  display: none;
}*/

.wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.marginTop135 {
    margin-top: 135px;
}


/*.marginTop{
  margin-top: 10px;
}*/

.you_like {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #FF442A;
    font-size: 1rem;
    background: #fff;
    font-weight: 600;
}

.you_like img {
    height: 0.4rem;
    width: 3.7rem;
    background-size: 100% 100%;
    margin: auto 1rem;
}

.module {
    position: relative;
}

#focus {
    /*height: 165px;*/
}

.clear {
    clear: both;
}

.eye {
    overflow: hidden;
    padding: 2% 2%;
    /*background: #ffffff;*/
}

.eye .item {
    float: left;
}

.eye .item.eye4 {
    width: 25%;
}

.eye .item.eye5 {
    width: 20%;
}

.eye .item img {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto;
}

.eye .item .name {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
    color: #333333;
    font-size: 14px;
}


/*热销*/

.hot {
    padding: 2% 3%;
}

.hot_s {
    width: 100%;
    height: 11rem;
}

.hot li {
    list-style: none;
    width: 32%;
    /*height: auto;*/
    float: left;
    margin-right: 2%;
    height: 7.8em;
    position: relative;
}

.hot li img {
    width: 100%;
    height: 100%;
    border-radius: 0.15rem 0.15rem 0 0;
}

.hot li p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hot li p:nth-child(2) {
    /*width: 78%;*/
    /*position: relative;*/
    background: #C7151C;
    color: #fff;
    bottom: 38%;
    left: 9%;
    border-radius: 0 0 0.15rem 0.15rem;
    font-size: 0.75rem;
    padding: 1% 1%;
}

.hot li p:nth-child(3) {
    /*padding: 8%;*/
    width: 90%;
    font-size: 0.75rem;
    /*height: 0.8rem;
  line-height: 0.8rem;*/
}

.hot li p:nth-child(4) {
    padding: 6% 4%;
}

.hot li p:nth-child(4) span:nth-child(1) {
    position: relative;
    text-align: center;
}

.hot li p:nth-child(4) span:nth-child(1) span:nth-child(1) {
    color: #C7151C;
    font-size: 12px;
    position: relative;
    top: -1px;
}

.hot li p:nth-child(4) span:nth-child(1) span:nth-child(2) {
    color: #C7151C;
    position: relative;
    font-size: 14px;
}

.hot li p:nth-child(4) span:nth-child(1) span:nth-child(3) {
    color: #C7151C;
    font-size: 12px;
    position: relative;
    left: 2%;
}

.hot li p:nth-child(4) span.s_q {
    float: right;
    text-decoration: line-through;
    font-size: 0.8rem;
    color: #B0B0B1;
    position: relative;
    text-align: center;
}

.hot li:nth-child(3) {
    margin-right: 0
}

#statu {
    font-size: 0.8rem;
    color: #fd5f3e;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    text-align: center;
    clear: both;
    width: 100%;
}

#statu img {
    display: inline-block;
}

.d_right .right_card .rightA .right_bottom .right_bottom_2 .right_qhj img {
    width: 2.0rem;
    height: 0.8rem;
    background-size: 100% 100%;
    display: inline-block;
}
