<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
    <style>
        /* 返回顶部样式开始 */

        .actGotop {
            position: fixed;
            _position: absolute;
            bottom: 3rem;
            right: 0.5rem;
            width: 3.5rem;
            height: 3.5rem;
            display: none;
            z-index: 999
        }

        .actGotop a,
        .actGotop a:link {
            width: 3.5rem;
            height: 3.5rem;
            display: inline-block;
            background: url(../../image/ic_back_top.png) no-repeat;
            background-size: 3.5rem 3.5rem;
            outline: none;
        }

        .actGotop a:hover {
            background: url(../../image/ic_back_top.png) no-repeat;
            outline: none;
            background-size: 3.5rem 3.5rem;
        }
        /* 返回顶部样式开始 */
    </style>
</head>

<body id="main_body">
    <!-- 返回顶部按钮 -->
    <div class="actGotop">
        <a href="javascript:;" title="返回顶部"></a>
    </div>
    <div id="main" v-cloak>
        <div v-for="item in list" class="module">
            <!--banner：焦点图-->
            <!-- <template v-if="item.type=='banner'">
            <div v-if="item.styles.marginTop==1">
              <div v-bind:style="{backgroundColor:'rgb('+item.styles.margincol+')',height:item.styles.marginhigh+'px'}"></div>
            </div>
            <div id="focus"></div>
          </template> -->
            <!--banner：焦点图 end-->
            <!--hot：热销产品-->
            <!-- <template v-if="item.type=='hot'">
            <div class="hot">
              <div v-if="item.styles.marginTop==1">
                <div v-bind:style="{backgroundColor:'rgb('+item.styles.margincol+')',height:item.styles.marginhigh+'px'}"></div>
              </div>
              <div class="hot_s"> -->
                <!-- <div class="swiper-wrapper">
                      <li class="swiper-slide" v-for="hot_list in hot_list" @click="openGoodDel(hot_list.num_iid,-1)">
                          <img v-bind:src="hot_list.itempic_copy" />
                          <p>热销{{hot_list.volume}}</p>
                          <p>{{hot_list.guide_article}}</p>
                          <p>
                            <span>
                              <span>¥</span>
                              <span>{{hot_list.real_price}}</span>
                              <span>券后</span>
                            </span>
                            <span class="s_q">{{hot_list.zk_final_price}}</span>
                          </p>
                          <div class="clear"></div>
                      </li>
                </div> -->
                      <!-- <li v-for="hot_list in hot_list.slice(0, 3)" @click="openGoodDel(hot_list.num_iid,-1)">
                          <img v-bind:src="hot_list.pict_url" />
                          <p>热销{{hot_list.volume}}</p>
                          <p>{{hot_list.guide_article}}</p>
                          <p>
                            <span>
                              <span>¥</span>
                              <span>{{hot_list.real_price}}</span>
                              <span>券后价</span>
                            </span>
                            <span class="s_q">{{hot_list.zk_final_price}}</span>
                          </p>
                      </li>
                      <div class="clear"></div>
              </div>
            </div>
          </template> -->
            <!--hot：热销产品 end-->
            <!--goods：商品-->
            <template v-if="item.type=='goods'">
              <div v-if="item.styles.marginTop==1">
                <div v-bind:style="{backgroundColor:'rgb('+item.styles.margincol+')',height:item.styles.marginhigh+'px'}"></div>
              </div>
              <div id="goods">
                <!-- 单排显示 -->
                <div v-if="show_type==1"  >
                  <div id="list"  style="background:#fff; overflow:hidden;" v-for="list in new_list">
                    <div class="box_1"   @click="openGoodDel(list.num_iid,-1);">
                        <div class="d_card">
                            <div class="d_card_img">
                                <img v-bind:src="list.pict_url" alt="">
                                <div class="d_bottom" v-if="list.tkfee!='' && list.tkfee!=0 && !isNaN(list.tkfee)">预估佣金{{list.tkfee}}</div>
                            </div>
                            <div class="d_right">
                                <div class="right_card">
                                    <div class="rightA">
                                        <div class="right_top">
                                            <div class="top_title">{{list.short_title}}</div>
                                            <div class="top_title_del">店铺：{{list.seller_nick}}</div>
                                        </div>
                                        <div class="right_bottom">
                                            <div class="right_bottom_1">
                                                <div class="right_tm" v-if='list.user_type==1'>天猫价  ￥{{list.zk_final_price}}</div>
                                                <div class="right_tm" v-if='list.user_type==0'>淘宝价  ￥{{list.zk_final_price}}</div>
                                                <div class="right_yx">月销 {{list.volume}}</div>
                                            </div>

                                            <div class="right_bottom_2">
                                                <div class="right_qhj"><img src="../../image/ic_page_sc_gapprice.png" alt="">￥ {{list.real_price}}</div>
                                                <div class="right_quan">{{list.coupon_jian}}元券</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- 双排显示 -->
                <div v-if="show_type==2 ">
                <div class="box"  >
                    <div id="list" class="yh_card" @click="openGoodDel(list.num_iid,-1);" v-for="list in new_list">
                    <div class="yh_img_div">
                      <img v-bind:src="list.pict_url" class="yh_card_img 1"/>
                      <div class="yh_bottom" v-if="list.tkfee!='' && list.tkfee!=0 && !isNaN(list.tkfee)">预估佣金{{list.tkfee}}</div>
                    </div>
                    <div style="background:#fff;padding:0.5rem;">
                        <div class="good_title" style="-webkit-box-orient: vertical;">
                          <!-- <img src="../../image/sharepage_taobao.png" alt="" class="tt" v-if="list.user_type==0">
                          <img src="../../image/sharepage_tianmao.png" alt="" class="tt" v-if="list.user_type==1"> -->
                          {{list.short_title}}
                        </div>
                        <div class="tm_price">
                          <div class="tm_left" v-if='list.user_type==1'>天猫价  ￥{{list.zk_final_price}}</div>
                          <div class="tm_left" v-if='list.user_type==0'>淘宝价  ￥{{list.zk_final_price}}</div>
                          <div class="tm_right">月销 {{list.volume}}</div>
                        </div>
                        <div class="qh_price">
                            <div class="qh_left"><span class="qh_left_quan">券后￥ {{list.real_price}}</span>&nbsp;</div>
                            <div class="qh_right">{{list.coupon_jian}}元券</div>
                        </div>
                    </div>
              </div>
              </div>
                </div>
              </div>
            </template>
            <!--goods：商品 end-->
            <!--goods：商品-->
            <template v-if="item.type=='goods'">
              <div v-if="item.styles.marginTop==1">
                <div v-bind:style="{backgroundColor:'rgb('+item.styles.margincol+')',height:item.styles.marginhigh+'px'}"></div>
              </div>
              <div id="goods">
                <!-- 单排显示 -->
                  <div v-if="show_type==3"  >
                  <div id="list"  style="background:#fff; overflow:hidden;" v-for="list in new_list">
                    <div class="box_1" style="height: 10rem;"  @click="openGoodDel(list.num_iid,-1);">
                        <div class="d_card" style="height: 9rem;box-shadow: 0 0 2.1333vw 0 rgba(0, 0, 0, .1);">
                            <div class="d_card_img" style="width: 8rem;height: 8rem;">
                                <img v-bind:src="list.pict_url" alt="">
                            </div>
                            <div class="detail">
                             <div class="hot-sell">
                              <!-- <img src="../../image/hot_sell_icon.png" alt="火焰" class="hot-icon" /> -->
                              <p class="word">爆款推荐</p>
                             </div>
                             <p class="title text-ellipsis fs12">{{list.short_title}}</p>
                             <div class="fs0">
                              <p class="amount fs10" style="background: linear-gradient(to right, rgb(255, 17, 130), rgb(243, 45, 73));"> 券<span class="markpro">{{list.coupon_jian}}</span></p>
                              <p class="amount fs10" v-if="list.tkfee!='' && list.tkfee!=0 && !isNaN(list.tkfee)" style="background: linear-gradient(to right, rgb(247, 107, 28), rgb(250, 158, 97));"><span class="markpro">返{{list.tkfee}}</span></p>
                             </div>
                             <div class="price-wrap flex-space-between flex-middle">
                              <div  class="hand-price fs10">
                                到手价
                               <span>￥</span>
                               <span class="markpro fs17">{{list.real_price}}</span>
                              </div>
                              <div class="original-price fs11">
                                {{list.zk_final_price}}
                              </div>
                             </div>
                             <div class="monthly-sales fs11">
                               月销：{{list.volume}}
                              <div class="log share-icon">
                               <img src="../../image/goods_share_icon.png"/>
                              </div>
                             </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- 双排显示 -->
                <div v-if="show_type==4 ">
                <div class="box" style="background: #fff;" >
                    <div id="list" class="yh_card" style="box-shadow: 0 0 2.1333vw 0 rgba(0,0,0,.1);" @click="openGoodDel(list.num_iid,list.plateid,-1);" v-for="list in new_list">
                    <div class="yh_img_div">
                      <img v-bind:src="list.pict_url" class="yh_card_img 1"/>
                    </div>
                    <div class="detail">
                     <p class="title text-ellipsis fs12">{{list.short_title}}</p>
                     <div class="fs0">
                      <p class="amount fs10" style="background: linear-gradient(to right, rgb(255, 17, 130), rgb(243, 45, 73));"> 券<span class="markpro">{{list.coupon_jian}}</span></p>
                      <p class="amount fs10" v-if="list.tkfee!='' && list.tkfee!=0 && !isNaN(list.tkfee)" style="background: linear-gradient(to right, rgb(247, 107, 28), rgb(250, 158, 97));"><span class="markpro">返{{list.tkfee}}</span></p>
                     </div>
                     <div class="price-wrap flex-space-between flex-middle">
                      <div class="hand-price fs10">
                        到手价
                       <span>￥</span>
                       <span class="markpro fs17">{{list.real_price}}</span>
                      </div>
                      <div class="original-price fs11">{{list.zk_final_price}}
                      </div>
                     </div>
                     <div class="monthly-sales fs11">
                       月销：{{list.volume}}
                      <div data-v-07a96f45="" class="log share-icon">
                       <img src="../../image/goods_share_icon.png" />
                      </div>
                     </div>
                    </div>
              </div>
              </div>
                </div>
                  </div>
                <div id="statu"><img src="../../image/loading.d997b79c.svg" alt="" style="width:1rem;height:1rem;vertical-align:middle;">加载中...</div>
            </template>
            <!--goods：商品 end-->
        </div>
    </div>

    <!-- 程序为加载完之前显示-->
    <div class="Placeholder"></div>
    <!--网络不好的时候重新加载页面-->

    <div class="noWlan">
        <div class="nowlanItem">
            <div class="no_net"><img src="../../image/no_net.png" /></div>
            <p class="no_p">网络竟然崩溃了</p>
            <p class="load_p">别紧张，试试看刷新页面</p>
            <div class="loadBtn" onclick="javascript:location.reload();">点击刷新</div>
        </div>
    </div>

</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery.js"></script>
<script type="text/javascript" src="../../script/api_common.js"></script>
<script type="text/javascript" src="../../script/md5.js"></script>
<script type="text/javascript" src="../../script/swiper.min.js"></script>
<script type="text/javascript" src="../../script/main.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
apiready = function() {
    new Vue({
        el: '#main_body',
        data: {
            list: [], //首页数据数组
            isOver: "false", //默认没有取完数据
            pageNum: 1,
            statu: "",
            banner_arr: [], //存储轮播图
            extend_arr: [], //存储轮播图点击事件
            plateid_arr: "", //存储轮播图plateid；
            plateid: "", //商品板块id；
            min_level_name: "", //最小等级名称
            min_share_rebate: "", //最小等级分享比率
            level_name: "", //当前等级名称
            max_shop_rebate: "", //最高等级购物比率
            min_shop_rebate: "", //最小等级购物比率
            max_level_name: "", //最高等级名称
            dis_level_id: "", //当前等级ID
            shop_rebate: "", //当前购物比率
            max_share_rebate: "", //最高等级分享比率
            share_rebate: "", //当前分享比率
            my_share_rebate: "", //板块分享比率
            my_shop_rebate: "", //板块购物比率
            user_id: "",
            data_length: "",
            goods_list: [],
            hot_list: [],
            new_list: [],
            show_type: 1,
        },
        ready: function() {
            var self = this;

            $(".Placeholder").css("width", document.body.clientWidth);
            $(".Placeholder").css("height", document.body.clientHeight);

            // 返回顶部
            $(window).scroll(function() {
                if ($(window).scrollTop() >= 1000) {
                    $('.actGotop').fadeIn("fast");
                } else {
                    $('.actGotop').fadeOut(300);
                }
            });
            $('.actGotop').click(function() {
                $('html,body').animate({
                    scrollTop: '0px'
                }, 300);
            });

            // 商品列表数据
            // 监听事件apiReady滚动到底部，加载更多功能
            api.addEventListener({
                name: 'scrolltobottom',
                extra: {
                    threshold: 120 //设置距离底部多少距离时触发，默认值为0，数字类型
                }
            }, function(ret, err) {

                self.loadMyFa_goods(self.plateid, false);
            });

            //判断是否登陆
            if (!empty($api.getStorage("userInfo"))) {
                user_id = $api.getStorage("userInfo").user_id;
                fnOpenPop_up(0, 1, user_id);
            } else {
                user_id = '';
                $(".yh_bottom").hide();
            }

            //给商品状态
            self.statu = $api.byId('statu');

            //下拉刷新
            self.loadFresh();

            //加载列表
            self.getList();

        },
        methods: {
            //下拉刷新
            loadFresh: function() {
                RefreshLoad();
            },

            //首页数据
            // getList: function() {
            //     var self = this;
            //     var obj = {};
            //     var objArr = sort_ASCII(obj);
            //     var timestamp = fntimestamp();
            //     var version = '2.0';
            //     var arr = apiSecret + timestamp + version + '';
            //     for (i in objArr) {
            //         arr += objArr[i];
            //     }
            //     var sign = hex_md5(arr);
            //     api.ajax({
            //         url: commonUrl + 'soukeAppTttService/service/newapp/homepagebody',
            //         method: 'post',
            //         headers: {
            //             'Content-Type': 'application/json;charset=utf-8'
            //         },
            //         data: {
            //             body: {
            //                 apiKey: apiKey,
            //                 timestamp: timestamp,
            //                 sign: sign,
            //             }
            //         }
            //     }, function(ret, err) {
            //         // console.log("首页信息：" + JSON.stringify(ret));
            //         if (ret) {
            //             if (ret.result_code == 200) {
            //                 $(".noWlan").hide();
            //                 var bg = ret.result.bg;
            //                 var bgcol1 = ret.result.bgcol1;
            //                 var bgcol2 = ret.result.bgcol2;
            //                 var bgpic = ret.result.bgpic;
            //                 self.list = ret.result.view;
            //                 for (var i = 0; i < ret.result.view.length; i++) {
            //                     //焦点图
            //                     if (ret.result.view[i].type == "banner") {
            //                         for (var b = 0; b < ret.result.view[i].data.length; b++) {
            //                             plateid_arr = {
            //                                 'platename': ret.result.view[i].data[b].platename,
            //                                 'plateid': ret.result.view[i].data[b].plateid,
            //                                 'platetype': ret.result.view[i].data[b].platetype,
            //                                 'platetag': ret.result.view[i].data[b].platetag
            //                             }
            //                             self.banner_arr.push(ret.result.view[i].data[b].img);
            //                             self.extend_arr.push(plateid_arr);
            //                         }
            //                         self.$nextTick(function() {
            //                             if (bg == 1) {
            //                                 $("body").css({
            //                                     "background": "url(" + bgpic + ") no-repeat",
            //                                     "background-size": "100%"
            //                                 });
            //
            //                             } else if (bg == 0) {
            //                                 $("body").css({
            //                                     "background": "linear-gradient(rgb(" + bgcol1 + "),rgb(" + bgcol2 + "))",
            //                                     "background-size": "100% 100%"
            //                                 });
            //                             }
            //                             if ($("#focus").length > 0) {
            //
            //                                 var mySlider_w = $("#focus").offset().top;
            //                                 var UIScrollPicture = api.require('UIScrollPicture');
            //                                 UIScrollPicture.open({
            //                                     rect: {
            //                                         x: 0,
            //                                         y: mySlider_w,
            //                                         w: api.winWidth,
            //                                         h: 135
            //                                     },
            //                                     data: {
            //                                         paths: self.banner_arr,
            //                                         // captions: ['http:www.baidu', 'apicloud', 'apicloud', 'apicloud']
            //                                     },
            //                                     styles: {
            //                                         indicator: {
            //                                             dot: {
            //                                                 w: 20,
            //                                                 h: 2,
            //                                                 r: 2,
            //                                                 margin: 5
            //                                             },
            //                                             align: 'center',
            //                                             color: '#FFFFFF',
            //                                             activeColor: '#DA70D6'
            //                                         }
            //                                     },
            //                                     placeholderImg: 'widget://res/bdsh_sjbg_img_711.jpg', //网络未加载完时的占位图
            //                                     contentMode: 'scaleToFill',
            //                                     interval: 3,
            //                                     fixedOn: 'home_frame0', //模块视图添加到指定 frame 的名字
            //                                     loop: true,
            //                                     fixed: false //模块是否随所属 window 或 frame 滚动
            //                                 }, function(ret, err) {
            //                                     if (ret) {
            //                                         for (var n = 0; n < self.extend_arr.length; n++) {
            //                                             if (ret.eventType == "click" && ret.index == n) {
            //
            //                                                 //                                                          window.location.href=extend_arr[n];
            //                                                 if (self.extend_arr[n].platetype == 1) { //计算佣金时  true来判断此商品模块计算佣金的时候plateid是否为-1.
            //
            //                                                     openSectionFrame(self.extend_arr[n].plateid, self.extend_arr[n].platename, true);
            //                                                 } else if (self.extend_arr[n].platetype == 2) {
            //                                                     fnOpenFunction(self.extend_arr[n].platetag, self.extend_arr[n].tagid, self.extend_arr[n].tagname);
            //                                                 } else if (self.extend_arr[n].platetype == 3) { //商品详情
            //                                                     openGoodDel(self.extend_arr[n].plateid, -1);
            //                                                 } else if (self.extend_arr[n].platetype == 5) {
            //                                                     if (self.extend_arr[n].plateid == 2) { //每日神券
            //                                                         fnOpenShenquan();
            //                                                     } else if (self.extend_arr[n].plateid == 1) { //九块九
            //                                                         fnOpenjkj();
            //                                                     } else if (self.extend_arr[n].plateid == 3) { //排行榜
            //                                                         fnOpenPaihangbang();
            //                                                     } else if (self.extend_arr[n].plateid == 4) {
            //
            //
            //                                                     } else if (self.extend_arr[n].plateid == 5) { //聚划算
            //                                                         openBankuaiFrame(1, self.extend_arr[n].platename, false);
            //                                                     } else if (self.extend_arr[n].plateid == 6) { //淘抢购
            //                                                         openBankuaiFrame(2, self.extend_arr[n].platename, false);
            //                                                     } else if (self.extend_arr[n].plateid == 7) { //整点抢
            //                                                         fnOpenZhengdianqiang();
            //                                                     } else if (self.extend_arr[n].plateid == 8) { //实时销量
            //                                                         fnOpenRealtimeSales();
            //                                                     } else if (self.extend_arr[n].plateid == 9) { //实时销量
            //                                                         fnOpenVideoArea();
            //                                                     } else if (self.extend_arr[n].plateid == 10) { //实时销量
            //                                                         fnOpenPinpaiJingxuan();
            //                                                     } else if (self.extend_arr[n].plateid == 11) { //实时销量
            //                                                         fnOpenShishiShangxin();
            //                                                     }
            //
            //                                                 } else if (self.extend_arr[n].platetype == 4) {
            //                                                     //window.location.href = self.extend_arr[n].plateid;
            //                                                     api.openWin({
            //                                                         name: 'jump_href_win',
            //                                                         url: 'jump_href_win.html',
            //                                                         pageParam: {
            //                                                             url: self.extend_arr[n].plateid,
            //                                                             name: self.extend_arr[n].platename,
            //                                                         },
            //
            //                                                     });
            //                                                 } else if (self.extend_arr[n].platetype == 6) {
            //                                                     openFenlei_type(self.extend_arr[n].plateid, self.extend_arr[n].platename);
            //                                                 }
            //                                             }
            //                                         }
            //                                     } else {}
            //                                 });
            //                             }
            //                         })
            //                     }
            //
            //                     //滚动条swiper
            //                     if (ret.result.view[i].type == "scroll") {
            //                         self.$nextTick(function() {
            //                             var swiper = new Swiper('.scroll', {
            //                                 direction: 'vertical',
            //                                 slidesPerView: 1,
            //                                 spaceBetween: 30,
            //                                 mousewheel: true,
            //                                 autoplay: {
            //                                     delay: 2500,
            //                                     disableOnInteraction: false,
            //                                 },
            //                             });
            //                         })
            //                     }
            //
            //                     //热销
            //                     if (ret.result.view[i].type == "hot") {
            //                         var plateid = "";
            //                         for (var h = 0; h < ret.result.view[i].data.length; h++) {
            //                             plateid = ret.result.view[i].data[h].plateid;
            //                         }
            //                         self.$nextTick(function() {
            //                             // var swiper = new Swiper('.hot_s', {
            //                             //     direction: 'horizontal',
            //                             //     slidesPerView: 3,
            //                             //     autoplay: false,
            //                             //     // loop:true,
            //                             //     observer: true,
            //                             //     observeParents:true,
            //                             //     // on: {
            //                             //     //    touchStart: function(event){api.setFrameGroupAttr({name:'home_frame0',scrollEnabled:false});},
            //                             //     //    touchEnd: function(event){api.setFrameGroupAttr({name:'home_frame0',scrollEnabled:false});},
            //                             //     //    touchMoveOpposite: function(event){api.setFrameGroupAttr({name:'home_frame0',scrollEnabled:false});},
            //                             //     //    sliderMove:function(event){api.setFrameGroupAttr({name:'home_frame0',scrollEnabled:false});},
            //                             //     //  }
            //                             // });
            //                         })
            //
            //                         self.loadMyFa_hot(plateid, false)
            //                     }
            //
            //                     //商品
            //                     if (ret.result.view[i].type == "goods") {
            //                         for (var g = 0; g < ret.result.view[i].data.length; g++) {
            //                             // if (ret.result.view[i].data[g].platetype == 2) {
            //                             //     plateid = ret.result.view[i].data[g].plateid;
            //                             // } else {
            //                             //     plateid = -1;
            //                             // }
            //                             plateid = ret.result.view[i].data[g].plateid;
            //                             self.plateid = plateid;
            //                             jisuan(plateid, user_id)
            //
            //                         }
            //                         self.loadMyFa_goods(plateid, true);
            //                     }
            //                 }
            //             }
            //         } else {
            //             $(".noWlan").show();
            //         }
            //     })
            // },

            //热销数据
            // loadMyFa_hot: function(plateid, isPull) {
            //     var self = this;
            //     // Math.ceil(n); 返回大于等于n的最小整数。
            //     var randomNum4 = Math.ceil(Math.random() * 10); // 主要获取1到10的随机整数，取0的几率极小。
            //     // console.log(randomNum4);
            //     // alert(randomNum4);
            //     // if (!isPull && self.isOver) {
            //     //     return;
            //     // }
            //     //判断如果是下拉刷新，
            //     if (isPull) {
            //         self.pageNum = randomNum4;
            //         self.isOver = "false";
            //     }
            //
            //     //热销产品
            //     var obj = {
            //         'user_id': self.user_id,
            //         'size': 10,
            //         'device_id': '',
            //         'page': self.pageNum,
            //         'section_id': plateid,
            //         'class_id': 0,
            //
            //     };
            //     var objArr = sort_ASCII(obj);
            //     var timestamp = fntimestamp();
            //     var version = '2.0';
            //     var arr = apiSecret + timestamp + version + '';
            //     for (i in objArr) {
            //         arr += objArr[i];
            //     }
            //     var sign = hex_md5(arr);
            //     api.ajax({
            //         url: commonUrl + 'soukeAppTttService/service/class/item_ac',
            //         method: 'post',
            //         headers: {
            //             'Content-Type': 'application/json;charset=utf-8'
            //         },
            //         data: {
            //             body: {
            //                 'apiKey': apiKey,
            //                 'timestamp': timestamp,
            //                 'sign': sign,
            //                 'user_id': self.user_id,
            //                 'size': 10,
            //                 'device_id': '',
            //                 'page': self.pageNum,
            //                 'section_id': plateid,
            //                 'class_id': 0,
            //             }
            //         }
            //     }, function(ret, err) {
            //         // console.log("商品信息111："+JSON.stringify(ret));
            //         if (ret) {
            //             if (ret.result_code == 200) {
            //                 if (ret.result_data != "") {
            //
            //                     self.hot_list = ret.result_data.items;
            //
            //                 }
            //                 //  console.log("商品信息qqqqqqq："+JSON.stringify(ret.result_data.items));
            //                 else {
            //                     // fnShowData(data, isPull);
            //                     api.toast({
            //                         msg: ret.result_message,
            //                         duration: 2000,
            //                         location: 'middle'
            //                     });
            //
            //                 }
            //             }
            //         } else {
            //             // api.alert({ msg: JSON.stringify(err) });
            //             // alert(1)
            //         }
            //     });
            //
            // },

            //商品数据
            loadMyFa_goods: function(plateid, isPull) {

                var self = this;
                // Math.ceil(n); 返回大于等于n的最小整数。
                var randomNum4 = Math.ceil(Math.random() * 10); // 主要获取1到10的随机整数，取0的几率极小。
                // console.log(randomNum4);
                // alert(randomNum4);
                // alert(self.pageNum)
                // if (!isPull && self.isOver) {
                //     return;
                // }
                //判断如果是下拉刷新，
                if (isPull) {
                    self.pageNum = randomNum4;
                    self.isOver = "false";
                } else {
                    self.pageNum++
                }

                //列表样式
                var object={
                  'section_id':plateid
                };

                var objArr=sort_ASCII(object);
                var timestamp=fntimestamp();
                var version='2.0';
                var arr=apiSecret+timestamp+version+'';
                for(i in objArr){
                  arr+=objArr[i];
                }
                // console.log(arr);
                var sign=hex_md5(arr);
                api.ajax({
                    url: commonUrl+'soukeAppTttService/service/section/class_ac ',
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    data: {
                        body: {
                            'apiKey':apiKey,
                            'timestamp':timestamp,
                            'sign':sign,
                            'section_id':plateid
                        }
                    }
                  }, function(ret, err) {
                    if (ret) {
                        if(ret.result_code==200){
                          // console.log("样式信息------："+JSON.stringify(ret));
                          if(ret.result_class.show_type==1){
                            self.show_type=1;
                          }else if(ret.result_class.show_type==2){
                          self.show_type=2;
                         }else if(ret.result_class.show_type==3){
                          self.show_type=3;
                          }else{
                          self.show_type=4;
                          }
                        }else{
                            api.toast({
                                msg:ret.result_message,
                                duration: 2000,
                                location: 'middle'
                            });

                        }
                    } else {
                        // api.alert({ msg: JSON.stringify(err) });
                    }
                  });
                //商品板块产品
                var obj = {
                    'user_id': self.user_id,
                    'size': 10,
                    'device_id': '',
                    'page': self.pageNum,
                    'section_id': plateid,
                    'class_id': 0,

                };
                var objArr = sort_ASCII(obj);
                var timestamp = fntimestamp();
                var version = '2.0';
                var arr = apiSecret + timestamp + version + '';
                for (i in objArr) {
                    arr += objArr[i];
                }
                var sign = hex_md5(arr);
                api.ajax({
                    url: commonUrl + 'soukeAppTttService/service/class/item_ac',
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    data: {
                        body: {
                            'apiKey': apiKey,
                            'timestamp': timestamp,
                            'sign': sign,
                            'user_id': self.user_id,
                            'size': 10,
                            'device_id': '',
                            'page': self.pageNum,
                            'section_id': plateid,
                            'class_id': 0,
                        }
                    }
                }, function(ret, err) {
                    // console.log("商品信息222："+JSON.stringify(ret.result_data.items));
                    if (ret) {
                        if (ret.result_code == 200) {
                            if (ret.result_data != "") {
                                self.goods_list = ret.result_data.items;
                                for (var i = 0; i < ret.result_data.items.length; i++) {
                                    var tkfee = ""
                                    if (user_id == "") {
                                        tkfee = (ret.result_data.items[i].tk_fee * my_share_rebate * min_share_rebate) / 10000;
                                        tkfee = tkfee.toFixed(2);
                                    }else {
                                      tkfee = (ret.result_data.items[i].tk_fee * my_share_rebate * share_rebate) / 10000;
                                      tkfee = tkfee.toFixed(2);
                                    }
                                    // var tkfee = (ret.result_data.items[i].tk_fee) / 10000;
                                    var data = {};
                                    data.tkfee = tkfee;
                                    //重组对象，把计算率加入
                                    self.new_list.push($.extend({}, ret.result_data.items[i], data));
                                    var datas = ret.result_data.items;
                                    var size = ret.result_data.size;
                                    if (datas != "") {
                                        $api.css(statu, 'display:block;');
                                        // self.pageNum++;
                                    } else {
                                        statu.innerHTML = "暂无数据";
                                    }
                                    if (datas.length < size && datas != "") {
                                        statu.innerHTML = "已经到底啦 ~ 别扯了";
                                        isOver = true;
                                    }
                                }
                                //  console.log("数据末尾添加佣金："+JSON.stringify(self.new_list));
                            } else {
                                // fnShowData(data, isPull);
                                api.toast({
                                    msg: ret.result_message,
                                    duration: 2000,
                                    location: 'middle'
                                });
                                // console.log("*****************")
                            }
                        }
                    } else {
                        // api.alert({ msg: JSON.stringify(err) });
                        // alert(1)
                    }
                });

            },

            //跳转
            // goPage: function(platetype, plateid, platename, platetag, tagid, tagname, name) {
            //     if (platetype == 1) {  //商品板块
            //         openSectionFrame(plateid, platename, true);
            //     }
            //     if (platetype == 2) {  //APP板块
            //         fnOpenFunction(platetag, tagid, tagname);
            //     }
            //     if (platetype == 3) {  //商品详情页
            //         openGoodDel(plateid, -1)
            //     }
            //     if (platetype == 4) {  //外链
            //
            //         //  window.location.href = plateid;
            //         api.openWin({
            //             name: 'jump_href_win',
            //             url: 'jump_href_win.html',
            //             pageParam: {
            //                 url: plateid,
            //                 name: name,
            //             },
            //
            //         });
            //     }
            //
            //     if (platetype == 5) {  //官方板块
            //         if (plateid == 2) {
            //             fnOpenShenquan();
            //         } else if (plateid == 1) {
            //             fnOpenjkj();
            //         } else if (plateid == 3) {
            //             fnOpenPaihangbang();
            //         } else if (plateid == 5) {
            //             openBankuaiFrame(1, platename, plateid);
            //         } else if (plateid == 6) {
            //             openBankuaiFrame(2, platename, plateid);
            //         } else if (plateid == 7) {
            //             fnOpenZhengdianqiang();
            //         } else if (plateid == 8) {
            //             fnOpenRealtimeSales();
            //         } else if (plateid == 9) {
            //             fnOpenVideoArea();
            //         } else if (plateid == 10) {
            //             fnOpenPinpaiJingxuan();
            //         } else if (plateid == 11) {
            //             fnOpenShishiShangxin();
            //         }
            //     }
            //
            //     else if (platetype == 6) {  //分类
            //         openFenlei_type(plateid, platename)
            //     }
            //     if (platetype == 7) {  //拼多多
            //         openPddSectionFrame(plateid, platename, true)
            //     }
            //
            // },

            //跳转详情
            openGoodDel: function(goods_id, section_id) {
                openGoodDel(goods_id, section_id);
                $api.setStorage("list_url", "");
            },
        }
    })
}
</script>

</html>
